/*Black Background*/
body {
    background-color: black;
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
      background-color: #333;
      overflow: hidden;
    }
    
  /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: #f2f2f2;
      font-family: "Microsoft JhengHei";
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
  /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
  /* Add a color to the active/current link */
    .topnav a.active {
      background-color: rgb(216, 121, 32);
      color: white;
    }
  
    /*影片一*/
    * {
      box-sizing: border-box;
    }
  
    .row {
      display: flex;
      flex-wrap: wrap;
      background-color: black;
      padding: 20px 40px;
    }
  
    .side{
      flex: 50%;
      background-color: rgb(216, 121, 32);
      padding-left: 15px;
      padding-bottom: 10px;
    }
  
    .side h2{
      color: black;
      text-align: center;
      font-family: "Microsoft JhengHei";
    }
  
    .side p{
      color: rgb(255, 255, 255);
      text-align: center;
      font-family: "Microsoft JhengHei";
    }
  
    .main{
      flex: 50%;
      background-color: white;
      padding-left: 15px;
      padding-bottom: 10px;
    }
  
    .main h2{
      color: black;
      text-align: center;
      font-family: "Microsoft JhengHei";
    }
  
    .main p{
      color: rgb(216, 121, 32);
      text-align: center;
      font-family: "Microsoft JhengHei";
    }