*{
  margin: 0;
  padding: 0;
}

/*Black Background*/
body {
    background-color: black;
  }
  
   /* for bar */
nav {
  background-color: #333333;
  overflow: hidden;
  height: 60px;
  border: 0.05 solid rgba(0, 0, 0, 0);
}

nav a {
  float: left;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
  color: white;
}

nav a:hover {
  background-color: white;
  color: black;
}

nav a.act {
  background-color: rgb(216, 121, 32);
  color: white;
}
  
    /*影片一*/
    * {
      box-sizing: border-box;
    }
  
    .row {
      display: flex;
      flex-wrap: wrap;
      background-color: black;
      padding: 20px 40px;
    }
  
    .side{
      flex: 50%;
      background-color: rgb(216, 121, 32);
      padding: 15px;
    }
  
    .side h2{
      color: black;
      text-align: center;
      font-family: "Microsoft JhengHei";
    }
  
    .side p{
      color: rgb(255, 255, 255);
      text-align: center;
      font-family: "Microsoft JhengHei";
    }
  
    .main{
      flex: 50%;
      background-color: white;
      padding: 15px;
    }
  
    .main h2{
      color: black;
      text-align: center;
      font-family: "Microsoft JhengHei";
    }
  
    .main p{
      color: rgb(216, 121, 32);
      text-align: center;
      font-family: "Microsoft JhengHei";
    }